VITE_API_URL=
PORT=8787
FASTRESEARCH_PUBLIC_URL=http://127.0.0.1:8787
FASTRESEARCH_JWT_SECRET=
FASTRESEARCH_COOKIE_DOMAIN=
FASTRESEARCH_CORS_ORIGINS=
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-this-password
FASTINSIGHT_INGEST_KEY=fastinsight-test-key-2026
VITE_READ_URL=http://127.0.0.1:3015
FASTREAD_URL=http://127.0.0.1:3015
VITE_WRITE_URL=
VITE_FASTTASK_URL=
VITE_FASTNEWS_URL=http://127.0.0.1:4173
VITE_FASTPPT_URL=
VITE_FASTLAB_URL=
